==

<style rel="stylesheet">
    /* TEMPLATE STYLES */
    /* Necessary for full page carousel*/

    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view, 
    .full-height body .view {
        height: 100%; 
    } 

    @media (max-width: 740px) {
        .full-height,
        .full-height body,
        .full-height header,
        .full-height header .view,
        .full-height body .view {
            height: 700px; 
        } 
    }
    
    @media (min-width: 1000px) and (max-width: 1025px) {
        .full-height,
        .full-height body,
        .full-height header,
        .full-height header .view,
        .full-height body .view {
            height: 770px; 
        } 
    }
    
    .navbar {
        background-color: transparent;
    }
    
    .scrolling-navbar {
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    
    .top-nav-collapse {
        background-color: #1C2331;
    }
    
    footer.page-footer {
        background-color: #1C2331;
        margin-top: 0;
    }
    
    @media only screen and (max-width: 768px) {
        .navbar {
            background-color: #1C2331;
        }
    }
    /* Carousel*/
    
    .flex-center {
        color: #fff;
    }
    
    .carousel-caption {
        height: 100%;
        padding-top: 7rem;
    }
    .navbar .btn-group .dropdown-menu a:hover {
        color: #000 !important;
    }
    .navbar .btn-group .dropdown-menu a:active {
        color: #fff !important;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar indigo">
    <div class="container">
        <a class="navbar-brand" href="#">{{this.theme.site_name}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if this.page.id == 'Inicio' %}active{% endif %}">
                    <a class="nav-link" href="{{ 'inicio'|page }}">Inicio</a>
                </li>
                <li class="nav-item {% if this.page.id == 'nosotros' %}active{% endif %}">
                    <a class="nav-link" href="{{ 'nosotros'|page }}">Nosotros</a>
                </li>
                <li class="nav-item {% if this.page.id == 'blog' %}active{% endif %}">
                    <a class="nav-link" href="{{ 'blog'|page }}">Blog</a>
                </li>
                <li class="nav-item {% if this.page.id == 'contacto' %}active{% endif %}">
                    <a class="nav-link" href="{{ 'contacto'|page }}">Contacto</a>
                </li>
                
            </ul>
            
        </div>
    </div>
</nav>
